<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flights</title>
</head>
<body>
    <div class="row py-5">
        <div class="col-lg-4 mx-auto">
            <section class="d-flex justify-content-center mt-5 mb-5">
                <span class="text-capitalize fw-bold bg-light px-2 py-1 rounded">
                    Search Flights
                </span>
            </section>

            <%= form_with url: search_path, method: :get do |f| %>
                <div class="field mt-5 mb-5 bg-dark">
                    <%= f.collection_select :departure_airport_id, Airport.all, :id, :code, { prompt: "Departure Airport" } ,  { class: "form-control py-2" } %>
                </div>
                <div class="field mt-5 mb-5">
                    <%= f.collection_select :arrival_airport_id, Airport.all, :id, :code, { prompt: "Arrival Airport" } ,  { class: "form-control py-2" } %>
                </div>
                <div class="field mt-5 mb-5">
                    <%= f.select :number_of_passengers, options_for_select([[1,1], [2,2], [3,3], [4,4]]), { prompt: "Number of passengers" } ,  { class: "form-control py-2" } %>
                </div>

                <!-- <div class="field mt-5 mb-5"> -->
                    <%# <%= f.collection_select :flight_datetime, Flight.select(:flight_datetime).distinct.order(:flight_datetime), :id, :flight_datetime, { prompt: "Departure date" } ,  { class: "form-control py-2" } %> %>
                <!-- </div> -->
                <div class="actions mt-3 mb-5">
                    <%= f.submit "Search", class: "form-control py-2 btn btn-success fw-bold shadow" %>
                </div>
            <% end %>
        </div>
    </div>
</body>
</html>
